* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  :focus {
    /* TODO */
  }
  
  body {
  background-image: linear-gradient(to right, rgb(15, 15, 188), rgb(83, 93, 132));
  justify-content: center;
  align-items: center;
  display: flex
  ;
  
  
  }
  
  input {
    
    
  }
  
  .search-container {
    margin-top: 300px;
    width: 171px;
    height: 22.4px;
  opacity: .6;
  border: 0px;
  border-radius: 5px;
  
  }
  .search-container input,
  .search-container .suggestions {
    position: fixed ;
     display: inline-block;
  }
  .search-container input {
  
  }
  .search-container .suggestions {
    background-color: transparent; 
  }
  
  .suggestions {
    margin-top: 15px;
  }
  
   ul { 
   
  padding: 5px 2px;
   } 
  ul.has-suggestions { 
  
   } 
  ul li { 
    list-style: none;
    border-radius: 3px;
    padding: 5px 2px;
    cursor: pointer;
  } 
  ul li:hover { 
     background-color: #e9f3ff; 
     opacity: .2;
   } 
  