<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Engineering Portal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div class="company">FAKE ENGINEERING PORTAL</div>
    </nav>
    <div class="centered-content">
        <dvi class="search-container">
            <div class="searchc-bar">
                <form class="part-search" method="post" action="/search_database_for_">
                    <input id="part_id" type="text" name="part_id">
                    <button type="submit" method="post">Part Info</button>
                </form>
                <form class="gen-trav" method="post" action="/gen_traveler_for_">
                    <input id="part_id" type="text" name="part_id">
                    <button type="submit" method="post">Generate Traveler</button>
                </form>
            </div>
        </dvi>

    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
        {% for categories, msg in messages %}
        <p class="{{category}}">{{msg}}</p>
        {% endfor %}
    </section>
    {% endif %}
    {% endwith %}
    {% block content %}

    <div>{{part_num}}</div>
    <div>{{part_data}}</div>

    {% endblock %}
    
</body>
</html>